.widget {
    color: $cor-marrom;
    margin-bottom: 2rem;
    padding-bottom: 1px;

    border-radius: 5px;
    background-color: $cor-beige-claro;
    
    ul {
	    margin: 1.5rem 1rem 2em 1.5rem;
	    
	    font-size: .88rem;
	    line-height: 1.71;
	
	    list-style: none;
    }

	h3 {
		margin: 0;
		padding: 0.8rem 0rem 0.4em 1rem;
		
		border-radius: 5px;
		width: 100%;
		
		color: $cor-amarelo;
		border-bottom: none;
		
		font-family: $fonte-principal-bold;
	    font-size: 24px;
	
	    color: $cor-amarelo;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6f3a+0,0c451a+100 */
	    background: rgb(31,111,58); /* Old browsers */
	    background: -moz-linear-gradient(top, rgba(31,111,58,1) 0%, rgba(12,69,26,1) 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,111,58,1)), color-stop(100%,rgba(12,69,26,1))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* IE10+ */
	    background: linear-gradient(to bottom, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6f3a', endColorstr='#0c451a',GradientType=0 ); /* IE6-9 */
	}
    
    a {
	    color: $cor-marrom;
	    &:hover {
		    color: $cor-beige;
		}
	}
	
	.post-entry.entry {
	    line-height: 1.2;
	}
	
	.more {
	  float: right;
	  display: inline-block;
	  margin: 10px 0 0 0;
	  padding: 3px 10px;
	  background-color: #f4f4f4;
	  border-radius: 5px;
	  color: #50650a;
	  clear: both;
	}
	
	&.widget_setoriais_menu {
	    background: #efede6;
	    box-shadow: none;
	    padding: 0 0 10px 0;
	    
		.widget__title {
		    position: relative;
		
		    background: #125b26;
		
		    padding: .5em;
		
		    border-radius: 10px;
		    
		    &:before {
			    position: absolute;
			    bottom: -10px;
			    left: 12px;
			
			    z-index: 1;
			
			    display: block;
			    
			    width: 0;
			    
			    content: '';
			    
			    border-width: 11px 11px 0px 11px;
			    border-style: solid;
			    border-color: #125b26 transparent;
			}
		}
		a {
		    color: #836806;    
		}
		li {
		    display: block;
		    line-height: 2;
		    margin-left: 10px;
		    font-size: 15px;
		    background-image: url(images/next.png);
		    background-repeat: no-repeat;
		    background-position: 0px 10px; 
		    padding-left: 0px;
		}
	}
}
