$cor-verde-inicio:	rgba(31,111,58,1);
$cor-verde-fim:		rgba(12,69,26,1);

aside {
    color: $cor-marrom;
    margin-bottom: 2rem;

    border-radius: 5px;
    background-color: $cor-beige-claro;
    
    & > a,
    & > ul,
    & > p,
    & > ol,
    & > div {
	    margin-left: 16px;
    }
    
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
    }
    
    p { 
	    margin-right: 1rem;
    }
    
    a { 
	    color: $cor-marrom;
	    &:hover {
		    color: $cor-beige;
		}
		
		&.button {
			float: right;
			margin-right: 16px;
			margin-bottom: 16px;
			
			@include clearfix ();
		}
		
		&.lost-password {
			font-size: .88rem;
		    line-height: 1.71;
		
		    display: block;
		    
		    margin-top: -40px;
		    margin-bottom: 17px;
		}
	}
    
    ul {
	    margin-top: 1.5rem;
	    margin-bottom: 1em;
	    margin-right: 1em;
	    
	    font-size: .88rem;
	    line-height: 1.71;
	
	    list-style: none;
    }

	h3 {
		margin: 0;
		padding: 0.8rem 0rem 0.4em 1rem;
		
		border-radius: 5px;
		width: 100%;
		
		color: $cor-amarelo;
		border-bottom: none;
		
		font-family: $fonte-principal-bold;
	    font-size: 24px;
	
	    color: $cor-amarelo;
	    
	    background: rgb(31,111,58); /* Old browsers */
	    
	    @include linear-vertical-gradient($cor-verde-inicio, $cor-verde-fim);
	    
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6f3a', endColorstr='#0c451a',GradientType=0 ); /* IE6-9 */
	}
	
	form {
		label {
		    font-size: .88rem;
		    line-height: 1.71;
		
		    display: block;
		
		    color: #888;
		}
		
		p {
		    margin-top: 0.3em;
		    
		    &.login-submit {
			    float: right;
		    }
		}
		
		.input {
		    font-size: .88rem;
		
		    width: 100%;
		    padding: 0.8em;
		
		    border: 1px solid #ededed;
		    background: #fff;
		}
		
		input.button-primary {
			@extend .button;
		}
		
		@include clearfix ();
	}
}
