$cor-verde-inicio:	rgba(31,111,58,1);
$cor-verde-fim:		rgba(12,69,26,1);

div.widget-area {
	float: left;
    width: 31.05%;
}

aside {
    color: $cor-marrom;
    margin-bottom: 2rem;

    border-radius: 5px;
    background-color: $cor-beige-claro;
    
    & > a,
    & > ul,
    & > p,
    & > ol,
    & > div,
    & > form {
	    margin-left: 16px;
	    margin-right: 16px;
    }
    
	@include clearfix ();
    
    a, a:visited 	{ 
	    color: $cor-marrom;
	    &:hover {
		    color: $cor-beige;
		}
		
		&.button {
			float: right;
			margin-bottom: 16px;
		}
		
		&.lost-password {
			font-size: .88rem;
		    line-height: 1.71;
		
		    display: block;
		    
		    margin-top: -40px;
		    margin-bottom: 17px;
		}
	}
    
    ul {
	    margin-top: 1rem;
	    margin-bottom: 1em;
	    margin-right: 1em;
	    
	    
	    line-height: 1.71;
	
	    list-style: none;
    }

	h3 {
		margin: 0 0 10px 0;
		padding: 1.2rem 0rem 0.4em 1rem;
		
		border-radius: 5px;
		width: 100%;
		
		color: $cor-amarelo;
		border-bottom: none;
		
		font-family: $fonte-principal-bold;
	    font-size: 20px;
	
	    color: $cor-amarelo;
	    
	    background: rgb(31,111,58); /* Old browsers */
	    
	    @include linear-vertical-gradient($cor-verde-inicio, $cor-verde-fim);
	    
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6f3a', endColorstr='#0c451a',GradientType=0 ); /* IE6-9 */
		
		position: relative;
	
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: -9px;
			left: 10px;
			width: 0;
			border-width: 9px 9px 0px 9px;
			border-style: solid;
			border-color: $cor-verde-fim transparent;
		}
	}
    
    .widget-body {
        margin-top: 14px;
        margin-bottom: 14px;
    }
	
	form#loginform {
		@include clearfix ();
		p {
		    font-size: 16px;
		    
		    line-height: 1;
		
		    color: $cor-cinza-escuro;
		    
		    &.login-submit {
			    float: right;
			    margin-top: 0;
		    }
		}
		
		.input {
		    font-size: 14px;
		
		    width: 100%;
		    padding: 0.8em;
		
		    border: 1px solid #ededed;
		    background: #fff;
		}
		
		input#wp-submit {
			@extend .button;
		}
	}
	
	a#lost-password {
		font-size: 16px;
	}
}
