pre,
code,
kbd,
samp {
    font-family: consolas, monospace, sans-serif;
    font-size: 14px;
    font-size: .88rem;
    line-height: 1.71;

    color: #666;

    _font-family: 'Courier New', monospace, sans-serif;
}

pre {
    font-size: 14px;
    font-size: .88rem;
    line-height: 1.71;

    overflow-x: auto;

    padding: 24px;
    padding: 1.5em;

    color: #6981a3;
    background: #fef7ea;
    
    code {
	    display: block;
	}
}

a code {
    color: inherit;
    border: 0;
    background: transparent;
}

table {
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

caption,
th,
td {
    font-weight: normal;

    text-align: left;
}
