$cor-verde-claro: 		rgb(113, 148, 22);
$cor-verde-musgo:		#52660b;			// H1 da lista de postagem
$cor-verde: 			rgb(18, 91, 38);

$cor-amarelo:			rgb(255, 206, 0);
$cor-laranja:			#ffae16;
$cor-laranja-escuro:	darken($cor-laranja, 30%);
$cor-marrom:			#826815;
$cor-beige:				lighten($cor-marrom, 30%);
$cor-beige-claro:		#eeece6;

$cor-cinza-claro:		#f4f4f4;
$cor-cinza-escuro:		darken(#f4f4f4, 30%);
