#comments {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.comments-title,
#reply-title {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;

    margin-bottom: 1.5rem;

    color: #125b26;
}

.comments-title a {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;

    float: right;

    padding: 0 .5em;

    color: #fff;
    background: #125b26;
    
    &:hover {
	    -webkit-transition: all .1s linear;
	            transition: all .1s linear;
	
	    color: #fff;
	    background: #222;
	}
}

.comments-list {
    list-style: none;
    
    li {
	    margin: 0;
	    padding: 0;
	}
	
	.children {
	    margin: 0 0 0 48px;
	    margin: 0 0 0 3rem;
	}
}

.comment-container {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.comment,
.pingback {
    position: relative;

    overflow: hidden;

    margin-bottom: 24px;

    color: #666;
}

.comment-content {
    line-height: 1.5;

    position: relative;

    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 24px;
    padding: 1.5rem;

    border-radius: 1rem;
    background: #f5f5f5;
    
    &:after {
	    position: absolute;
	    bottom: -8px;
	    bottom: -.5rem;
	    left: 40px;
	    left: 2.5rem;
	
	    display: block;
	
	    width: 0;
	
	    content: '';
	
	    border-width: 8px 8px 0;
	    border-width: .5rem .5rem 0;
	    border-style: solid;
	    border-color: #f5f5f5 transparent;
	}
	
	p {
	    margin: 0;
	}
}

.comment-content p + * {
    margin-bottom: 1.5rem;
}

.comment-meta {
    line-height: 1.5;

    position: relative;
    z-index: 1;

    overflow: hidden;

    margin: 0;
    padding: 0 24px;
    padding: 0 1.5rem;

    color: #999;
}

.comment-author-avatar {
    float: left;
    margin-right: .75em;
    
    &, img {
	    width: 48px;
	    height: 48px;
	}
}

.comment-meta {
	.fn {
	    font-style: normal;
	
	    display: block;
	    
	    a {
		    border-bottom: 1px dotted;
		}
	}
	a {
	    color: #999;
	    &:hover {
		    color: #125b26;
		}
	}
}

.comment-on-hold {
    position: absolute;
    top: 0;
    left: 100px;

    background: yellow;
}

.comment-reply-link {
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;

    *display: inline;
}

.comments-list {
	.byuser .comment-content, .bypostauthor .comment-content {
    	color: #333;
    }
    .pingback {
	    font-size: 14px;
	    font-size: .88em;
	    line-height: 16px;
	
	    overflow: hidden;
	
	    margin-bottom: 24px;
	    margin-bottom: 1.5rem;
	    padding: 12px;
	    padding: .75rem;
	
	    border: 1px solid #ededed;
	    background: #f5f5f5;
	    
	    .favicon {
		    float: left;
		
		    margin-right: .7rem;
		}
		.comment-edit-link {
		    color: #999;
		}
	}
	
}

#respond {
    overflow: hidden;

    padding: 24px;
    padding: 1.5rem;

    color: #666;
    border-top: 1px solid #ededed;
    background: #f5f5f5;
    
    p {
	    font-size: 12px;
	    font-size: .75rem;
	    line-height: 2;
	
	    margin-bottom: 24px;
	    margin-bottom: 1.5rem;
	}
}

#cancel-comment-reply-link {
    font-size: 14px;
    font-size: .88rem;
    line-height: 1.71;

    color: #666;
}

.logged-in-as a,
.comment-notes a {
    border-bottom: 1px dotted;
}

#commentform label {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;

    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;

    color: #999;

    *display: inline;
}

.comment-area {
    margin-bottom: 1.5rem;
}

.required {
    color: #666;
}

#commentform {
	input[type='text'], textarea {
	    padding: 1em;
	
	    border: 1px solid #ededed;
	    outline: none;
	    
	    &:focus {
		    -webkit-transition: border-color .2s linear;
		            transition: border-color .2s linear;
		
		    border-color: #222;
		}
	}
}

.form-allowed-tags {
    font-size: 12px;
    font-size: .75rem;
    line-height: 2;

    margin: 0;
    padding-top: 24px;
    padding-top: 1.5rem;
    
    code {
	    color: #999;
	}
}

#submit {
    font-size: 16px;
    font-size: 1rem;

    padding: .5em 1em;

    color: #fff;
    border: none;
}

.widget {
    color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem 2em 1.5rem;

    border-radius: 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6f3a+0,0c451a+100 */
    background: rgb(31,111,58); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(31,111,58,1) 0%, rgba(12,69,26,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,111,58,1)), color-stop(100%,rgba(12,69,26,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(31,111,58,1) 0%,rgba(12,69,26,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6f3a', endColorstr='#0c451a',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(133,133,133,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(133,133,133,1);
    box-shadow: 0px 0px 5px 0px rgba(133,133,133,1);
    
    a {
	    color: #fff;
	    &:hover {
		    /*color: #125b26;*/
		    color: #ffcb05;
		}
	}
	
	ul {
	    font-size: .88rem;
	    line-height: 1.71;
	
	    list-style: none;
	}
	.post-entry.entry {
	    line-height: 1.2;
	}
	
	.more {
	  float: right;
	  display: inline-block;
	  margin: 10px 0 0 0;
	  padding: 3px 10px;
	  background-color: #f4f4f4;
	  border-radius: 5px;
	  color: #50650a;
	  clear: both;
	}
}

.widget__title {
    /*font-size: 1rem;*/
    font-size: 24px;
    font-weight: normal;

    /*display: inline-block;*/

    margin: 0 0 1rem 0;
    padding-bottom: 0.3em;
    /*padding: 0 .5em;*/

    color: #ffcb05;
    /*background: #444;*/
    border-bottom: 1px solid #719416;
} 

.widget.widget_setoriais_menu {
    background: #efede6;
    box-shadow: none;
    padding: 0 0 10px 0;
}

.widget_setoriais_menu {
	.widget__title {
	    position: relative;
	
	    background: #125b26;
	
	    padding: .5em;
	
	    border-radius: 10px;
	    
	    &:before {
		    position: absolute;
		    bottom: -10px;
		    left: 12px;
		
		    z-index: 1;
		
		    display: block;
		    
		    width: 0;
		    
		    content: '';
		    
		    border-width: 11px 11px 0px 11px;
		    border-style: solid;
		    border-color: #125b26 transparent;
		}
	}
	a {
	    color: #836806;    
	}
	li {
	    display: block;
	    line-height: 2;
	    margin-left: 10px;
	    font-size: 15px;
	    background-image: url(images/next.png);
	    background-repeat: no-repeat;
	    background-position: 0px 10px; 
	    padding-left: 0px;
	}
}

.site-footer {
	.site-title {
	    font-size: 1.13rem;
	    line-height: 1.33;
	
	    text-align: center;
	    	
		a {
		    color: #fff;
		    
			&:hover {
			    color: #125b26;
			}
		}
	}
	
	.site-description {
	    font-size: .88rem;
	    line-height: 1.71;
	
	    text-align: center;
	
	    color: #ccc;
	}
}

.social {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


.social-links {
    margin: 10px 0 0 0;

    list-style: none;

    /*text-align: left;*/
    float: right;

	& > li {
	    font-size: 1.33rem;
	    line-height: 48px;
	
	    display: inline-block;
	    list-style: none;
	
	    margin-left: .8em;
	
	    float: left;
	}
	
	a {
	    width: 35px;
	    height: 35px;
	
	    position: relative;
	
	    color: #fff;
	    background-color: #1d1d1b;
	    float: left;
	
	    vertical-align: center;
	    text-align: center;
	    line-height: 2;
	
		&:hover {
		    bottom: 2px;
		
		    -webkit-transition: all .1s linear;
		            transition: all .1s linear;
		}
	}
}

.twitter a:hover {
    color: #55acee;
}

.facebook a:hover {
    color: #3b5998;
}

.flickr a:hover {
    color: #ff0084;
}

.instagram a:hover {
    color: rgba(98, 67, 53, 1);
}

.tumblr a:hover {
    color: #35465D
}

.youtube a:hover{
    color: #CF3427;
}

.logos {
    display: none;

    /*width: 98%;*/
    /*max-width: 700px;*/
    /*margin: 0 auto 1.5rem auto;*/

    clear: right;
    float: right;
}

.logos .minc {
    width: 260px;
}

.logos .minc img {
    width: 100%;
}

.logos .gallery-caption {
    display: none;
}

.logos__group {
    position: relative;

    display: inline-block;

    margin: 0 1.5rem 1.5rem 0;
    padding-top: 1.5rem;
}

.logos h3 {
   /* font-size: .88rem;
    line-height: 1.75;

    position: absolute;
    top: 0;
    left: 0;

    text-align: left;

    color: #888;*/
}

.logos .gallery-item {
    display: inline-block;

    margin: 0;
    padding: 0 1.5rem 0 0;
}

.logos .gallery-icon {
    position: relative;
}

.logos .gallery-icon:hover {
    bottom: 2px;

    -webkit-transition: all .1s linear;
            transition: all .1s linear;
}

.logos .gallery-icon img {
    display: block;

    width: 75px;
}

.creditos {
    text-align: left;
    max-width: 700px;
    display: inline-block;
    font-size: 11px;
    color: #4a4a4a;
    line-height: 1.3;

}

.creditos:after {
    content: "";
    display: block;
    clear: both;
}

.featured-media {
    position: relative;
    display: block;
    /*width: 30%;*/
    float: left;
    margin: 20px 20px 10px 0px;
}

.featured-media a, .featured-media img {
  display: block;
}

.page .entry-summary {
    /*font-size: 1.13rem;
    font-style: italic;
    line-height: 1.33;

    color: #888;
*/  
    margin-top: 20px;
    
    font-size: 1rem;
    line-height: 1;

    color: #151e19;
}

.feature__info {
    position: absolute;
    top: 3rem;
    left: 0;

    margin: 0 72px 0 0;
}

.feature-title {
    margin: 0 0 1px 0;

    text-align: left;

    color: #fff;
}

.feature-title a {
    display: inline-block;

    padding: 0 1.5rem;

    color: inherit;
    background-color: rgba(41,39,36,.9);
}

.feature-title a:hover {
    padding: 0 2rem;

    -webkit-transition: padding .2s ease-in-out;
            transition: padding .2s ease-in-out;

    color: inherit;
}

.feature__author {
    font-family: 'Sanchez', serif;
    font-size: 1.13rem;
    line-height: 1.33;

    display: inline-block;

    padding: 0 1em;

    color: #888;
    background: #fff;
}

.box {
    position: relative;
}

.box .hentry {
    margin: 0;
    padding: 0;

    border: none;
}

.box--about {
    z-index: 2;

    padding: 1.5rem;

    color: #fff;
    background-color: #125b26;
    border-color: #125b26;
}

.box--about .area-title a,
.box--about .area-title a:hover {
    color: #fff;
}

@media screen and (min-width: 40em) {
    .box--about {
        margin-top: -3rem;
    }

    .box--about:before {
        position: absolute;
        top: -1.5rem;
        left: 1.5rem;

        display: block;

        width: 0;
        height: 0;

        content: ' ';

        border-bottom: 1.5rem solid #125b26;
        border-bottom-color: inherit;
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
    }
}

.box--mostra {
    padding: 1.5rem;

    background: #ededed;
}

.box--news {
    padding: 1.5rem;

    border-top: 4px solid #125b26;
    border-bottom: 4px solid #125b26;
}

.home-box .entry-title {
    font-size: 1.13rem;
    line-height: 1.33;

    overflow: hidden;

    margin: 0;
}

.box--user {
    padding: 0.3rem 1rem;
    margin-bottom: 2em;
    background-color: #efede6;
}

.box--user a {
    border-bottom: 1px dotted;
}

#loginform label {
    font-size: .88rem;
    line-height: 1.71;

    display: block;

    color: #888;
}

#loginform p {
    margin-top: 0.3em;
}

#loginform .input {
    font-size: .88rem;

    width: 100%;
    padding: 0.8em;

    border: 1px solid #ededed;
    background: #fff;
}

#loginform .button-primary {
    font-family: 'Sanchez', serif;

    position: relative;

    display: inline-block;

    padding: .5em;

    -webkit-transition: all 1s ease-in-out;

            transition: all 1s ease-in-out;

    color: #fff;
    border: none;
    border-radius: 2px;
    background: #5daa33;/*
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),
    0 4px 0 #488327;*/
}

#loginform .button-primary:hover {
    background: #4f902b;
}

#loginform .button-primary:active {
    top: 2px;

    /*box-shadow: 0 2px 0 #488327;*/
}

.box--user .lost-password {
    font-size: .88rem;
    line-height: 1.71;

    float: right;

    margin-top: -1.5rem;

    color: #888;
}

.box--user .lost-password:hover {
    color: #444;
}

.box--user .not-registered {
    border-bottom: none;
    margin: 0.8rem auto 0 auto;
}

.features {
   /* background-color: #ededed;
    box-shadow: inset 0 0 0 6px rgba(41,39,36,.1);*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    margin-bottom: 3em;
}

.features-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 40em) {
    .features--subscriptions {
        float: left;
        /*width: 70%;*/
        width: 65.63%;
    }
}

.featured--inscricoes {
    position: relative;

    float: left;

    width: 70%;
    height: 480px;

    background: #ededed;
}

.featured__info {
    position: absolute;
    bottom: 0;
    left: 0;
}

.feature__title {
    font-size: 1.33rem;
    line-height: 2.13;
}

.feature__title a {
    font-weight: normal;

    display: inline-block;

    padding: 0 1em;

    color: #444;
    background: #fff;
}

.feature__title a:hover {
    color: #125b26;
}

.feature__title span {
    display: inline-block;

    margin-right: 1px;
    padding: 0 .5em;

    color: #fff;
    background: #444;
}

.feature__status {
    font-family: 'Sanchez', serif;

    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 1em;

    color: #fff;
    background-color: #125b26;
    max-width: 60%;
}

.featured__image {
    overflow: hidden;
}

.featured__image img {
    display: block;

    max-width: 100%;
    height: auto;
}

.featured__summary {
    position: absolute;
}

.features--promotion {
    margin-bottom: 1.5rem;
}

.features--promotion:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

/* Swiper Slider */

.swiper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-wrapper {
    width: 100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper__slide {
    background: #000;
    float: left;
    height: 100%;
    margin: 0;
    width: 100%;
    position: relative;
}

.swiper__slide img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* Swiper Pagination */

.swiper__pagination {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 20;
    text-align: right;
    width: 100%;
}

.swiper-pagination-switch {
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
    display: inline-block;
    width: 1.5rem;
    transition: background-color 0.3s ease;
}

.swiper-pagination-switch:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.swiper-active-switch {
    background-color: #fff;
    cursor: default;
}

.box--howto {
    position: relative;
    z-index: 9;

    padding: 0.4em 0.8rem;

    color: #fff;
    background-color: #125b26;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.box--howto .area-title {
    padding: 0px;
    margin: 0px;

    font-size: 1.1em;
}

.box--howto a {
    color: inherit;
    border-bottom: 1px dotted;
}

.box--howto a:hover {
    color: #125b26;
}

@media screen and (min-width: 40em) {
    .box--howto {
        /*margin-left: -1.5rem;*/
    }

    .box--howto:before {
       /* position: absolute;
        z-index: 1;
        top: 0;
        left: -1.5rem;

        display: block;

        width: 0;

        content: '';

        border-width: 1.5rem 1.5rem 1.5rem 0;
        border-style: solid;
        border-color: transparent rgba(41,39,36,.9);*/
    }
}

#map {
    width: 998px;
    height: 480px;
    margin: 1.5rem 0 1.5rem -150px;
}

.item__title {
    font-size: 1.13rem;
    line-height: 1.33;

    color: #125b26;
}

.entry__form {
    margin-top: 1.5rem;
    padding-top: 1.5rem;

    border-top: 1px dotted #888;
}

#contato-historias label {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;

    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;

    color: #999;

    *display: inline;
}

#contato-historias input[type='text'],
#contato-historias textarea {
    padding: 1em;

    border: 1px solid #ededed;
    outline: none;
}

#contato-historias input[type='text']:focus,
#contato-historias textarea:focus {
    -webkit-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;

    border-color: #125b26;
}
