.consultant__avatar {
    background-size: cover;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
}

.consultant__name.consultant__name {
    font-size: 2.25rem;
    line-height: 1.33;

    display: inline-block;

    margin-bottom: 1.5rem;
    padding: 0 .5em;

    color: #fff;
    background: #125b26;
}
