footer.site-footer {
	div {
		padding: 20px 0;
		
		&.social {
			a {
			    color: $cor-verde;
			
			    vertical-align: center;
			    text-align: center;
			    line-height: 2;
			    
			    font-size: 34px !important;
					
				&:hover {
				    bottom: 2px;
				    text-decoration: none;
				
				    -webkit-transition: all .1s linear;
				            transition: all .1s linear;
				}
				
				&.twitter:hover { color: #55acee; }
			
				&.facebook:hover { color: #3b5998; }
				
				&.flickr:hover { color: #ff0084; }
				
				&.instagram:hover { color: rgba(98, 67, 53, 1); }
				
				&.tumblr:hover { color: #35465D }
				
				&.youtube:hover{ color: #CF3427; }
			}
		}
		
		&.logos {
			#MinC_logo {
				margin-top: 10px;
			}
		}
		
		&.creditos {
		    font-size: 11px;
		    color: $cor-cinza-escuro;
		    line-height: 1.3;
		}
	}
}
