// TODO: Deprecate all grid elements in favor of bootstrap

.grid {
    margin-left: -1.5rem;
}

.grid__item {
    position: relative;

    display: inline-block;

    padding-bottom: 1.5rem;
   

    vertical-align: top;
}

@media screen and (min-width: 40em) {
    .grid__item {
        padding-left: 1.5rem;
    }
}
.one-whole {
    clear: both;

    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.333%;
}

.two-thirds {
    width: 66.666%;
}

.cf {
	&:before, &:after {
		display: table;
		content: ' ';
	}
	&:after {
		clear: both;
	}
	
    *zoom: 1;
}

.assistive-text {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
}

.ir {
    overflow: hidden;

    border: 0;
    background-color: transparent;

    *text-indent: -9999px;

	&:before {
	    display: block;
	
	    width: 0;
	    height: 150%;
	
	    content: '';
	}
}

.bd {
    overflow: hidden;
    zoom: 1;

    _overflow: visible;
}

@media screen and (min-width: 40em) {

    .media .img {
        float: left;

        margin-right: 1.5rem;
    }

}

@media screen and (min-width: 40em) {

    .media-container .media:nth-child(odd) .img {
        float: right;

        margin-right: 0;
        margin-left: 1.5rem;
    }

}

a.post-edit-link {
    background-color: rgba(41,39,36,.4);
    color: #fff;
    display: inline-block;
    font-size: .88rem;
    font-size: 14px;
    line-height: 1.71;
    padding: 0 .5em;
    float: right;

	&:hover {
	    background-color: rgba(41,39,36,.9);
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.no-results {
    font-style: italic;

    color: rgba(0,0,0,.3);
}

.ui-button,
.primary-button,
.button {
	$cor-verde-inicio:	rgba(31,111,58,1);
	$cor-verde-fim:		rgba(12,69,26,1);
	
    // position: relative;
	
	display: inline-block;
	
	margin: 5px 0;
	
	padding: .5em;
	padding-bottom: .4em;
	
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
	
	color: $cor-amarelo !important;
	border: none;
	border-radius: 2px;
	
	font-size: 16px;
	line-height: 1;
	
	@include linear-vertical-gradient($cor-verde-inicio, $cor-verde-fim);
	
	&:hover {
	    @include linear-vertical-gradient($cor-verde-fim, $cor-verde-inicio);
	}
}

.secondary-button {

}

a.highlight {
    line-height: 3;

    display: block;

    padding: 0 1em;

    text-align: center;

    color: #888 !important;
    border: 1px solid #dbd22f;
    background: #fdfddb !important;
}

.accept {
    line-height: 3;

    padding: 0 1em;

    text-align: center;

    color: #888;
    border: 1px solid #dbd22f;
    background: #fdfddb;
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;

    margin-right: 1em;
    margin-left: 0;
}

.alignright,
img.alignright {
    display: inline;
    float: right;

    margin-right: 0;
    margin-left: 1em;
}

.aligncenter,
img.aligncenter {
    display: block;
    clear: both;

    margin-right: auto;
    margin-left: auto;
}

#main {
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-bottom: 1px solid #dedede;
}

.disable-pointer-events {
    pointer-events: none !important;
}

.no-menu {
    border: 1px dotted #ccc;
    clear: both;
    font-size: 1.25rem;
    font-size: 20px;
    line-height: 2.4;
    padding: 0 1.3em;
}

.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

.hidden {
    display: none;
}

body > div.site-wrap {
    overflow: hidden;

    width: 98%;
    max-width: 1080px;
    margin: 0px auto;
    
    background: #f4f4f4;
}

@media only screen and (min-width: 40em) {
    body > div.site-wrap {
        overflow: visible;
        

        margin: 0px auto;
    }

    .feature__info {
        top: 50%;

        margin: -1.5rem 72px 0 0;
    }

    .box {
        float: left;

        width: 33%;
    }

    .box--news {
        width: 34%;
        margin-top: -1.5rem;
    }
}

div.site-wrap > {
	header, footer {
		padding: 0 5.4rem;
	}
}

@media only screen and (max-width: 40em) {
	div.site-wrap > {
		header, footer {
	        padding: 0 1.4rem;
	    }
	}
}
