#mapa {
    position: relative;
    
    svg {
	    margin: 0 auto;
	    display: block;
	    
	    g#all_map path {
		    fill: $cor-verde-claro;
	    }
	    text.etiqueta {
		    cursor:pointer;
			font-family: $fonte-principal-bold, sans-serif;
			font-size: 20px;
			fill: $cor-cinza-claro;
		}
		text.completo {
			fill: $cor-cinza-claro;
			text-anchor: end;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: bold;
			display: none;
		}
		path {
			stroke:	lighten($cor-verde-claro, 10%);
			stroke-width: 1px;
			fill:	transparent;
		}
a.regiao:hover {
		path {
		    fill: 	$cor-verde;
		    stroke:	lighten($cor-verde, 10%);
		    cursor:	pointer;
		}
}
a.estado:hover {
		text.etiqueta {
			fill: $cor-cinza-claro;
		}
		text.completo {
			fill: $cor-verde;
			display: block;
		}
		path {
		    fill: 	$cor-amarelo;
		    stroke:	$cor-amarelo;
		    cursor:	pointer;
		}
}
	}
}

.menu-setoriais-container {
    display: none;
    width: 200px;
    background-color: rgba(244, 244, 244, 0.92);
    border: 1px solid #DBDBDB;
    padding: 15px;
    font-size: 12px;
    color: #22733e;
    z-index: 1;
    
    a {
	    color: #22733e;
	    &:hover {
		    text-decoration: underline;
		}   
	}
	
	.menu-title {
	    margin-bottom: 5px;
	}
	ul li {
	    display: block;
	    line-height: 1.8;
	}
}
