@mixin font-face ($name, $path) {
	@font-face {
	font-family: $name;
	src: url($path);
	src: url($path) format('truetype');
	font-weight: normal;
	font-style: normal;
	}
}

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

@mixin hyphen ($argument) {
	-webkit-hyphens: $argument;
       -moz-hyphens: $argument;
        -ms-hyphens: $argument;
            hyphens: $argument;
}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6f3a+0,0c451a+100 */

@mixin linear-vertical-gradient ($start, $stop) {	
    background:    -moz-linear-gradient(top, $start 0%, $stop 100%); /* FF3.6+ */
    background: 	   -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$stop)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $start 0%,$stop 100%); /* Chrome10+,Safari5.1+ */
    background: 	 -o-linear-gradient(top, $start 0%,$stop 100%); /* Opera 11.10+ */
    background: 	-ms-linear-gradient(top, $start 0%,$stop 100%); /* IE10+ */
    background: 		linear-gradient(to bottom, $start 0%,$stop 100%); /* W3C */
}

@mixin clearfix () {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
    }
}
