.site-wrap.nav {
	width: 100%;
	padding: 0px;
	border: none;
}

nav.access {
	padding: 20px 54px;
	max-width: 1080px;
	text-transform: uppercase;
	font-family: $fonte-principal-bold;
	background-color: #1C7033;
	position: relative;
    
    &.opened {
	    max-height: 9999px;
	}
	
	ul {
		font-size: 1.5rem;
		line-height: 2.4;
		margin: 0;
		
		& > li {
		    margin: 0;
		    text-align: right;
			
		}
		
		a {
		    position: relative;
		    display: block;
		    
		}
		
		.current-cat,
		.current_page_item,
		.current-menu-item {
			& > a:after {
			    content: " ";
			
			    border-bottom: 4px solid $cor-laranja;
			    width: 100%;
			
			    display: block;
			
			    position: absolute;
			    bottom: 6px;
			    left: 0px;
		    }
		}
		
		.menu-item-has-children {
		    position: relative;
		}
		
		.current_page_item,
		.current-menu-ancestor {
		    position: static;
		}
	}

	.login-form-menu {
		display: none;
		position: absolute;
		right: 130px;
		top: 60px;

		z-index: 2;

		background-color: #f4f4f4;;

		padding: 20px;

		border: 1px solid #adadad;

		border-radius: 5px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

		// font-size: 12px;

		text-transform: none;
		font-weight: normal;

		&:before {
			  content: "";
			  display: block;
			  position: absolute;
			  top: -9px;
			  right: 40px;
			  width: 0;
			  border-width: 0px 9px 9px 9px;
			  border-style: solid;
			  border-color: #f4f4f4 transparent;
		}

		form {
			display: block;
		}
	}
	
	.menu--main {
		&, & li {
			float: left;
			text-align: right;
		}
		
		a {
			margin-right: 1.3em;
			
			color: $cor-laranja;
			&:hover {
			    color: $cor-laranja-escuro;
			}
		}
	}
	.menu--user {
		float: right;
		& li {
			text-align: left;
			display: inline-block;
		}
		
		a {
			margin-left: 1.3em;
			
			color: $cor-cinza-claro;
			&:hover {
			    color: $cor-cinza-claro;
			}
		}
		.menu__title {
		    color: rgba(244, 244, 244, 0.72);
		}
	}
}

.menu {
	.current_page_item,
	.current-menu-ancestor {
		& > .sub-menu {
			position: static;
		    z-index: 8888;
		
		    background-color: #ededed;
		    box-shadow: none;
		    clip: inherit;
		    overflow: inherit;
		    height: inherit;
		    width: inherit;
		}
	}
}

@media screen and (min-width: 40em) {
    .menu-item:hover > .sub-menu {
        clip: inherit;
        overflow: inherit;
        height: inherit;
        width: inherit;
    }

   	nav {
   		&.access {
			@include linear-vertical-gradient($cor-verde-inicio, $cor-verde-fim);
			padding: 20px 54px;
			max-width: 1080px;
			text-transform: uppercase;
			font-family: $fonte-principal-bold;
			background-color: #1C7033;
			position: relative;
    	}
   	}

    .menu {

	    .current_page_item > .sub-menu,
		.current-menu-ancestor > .sub-menu {
	        position: absolute;
	        top: 100%;
	        left: 0;
	        right: 0;
 	        border-bottom: 1px solid #ccc;
	        li {
		        float: left;
	        }
	    }
    }

   
}

@media screen and (max-width: 40em) {
	 a.nav-toggle {
	 	height: 40px;
    	background-color: $cor-verde-fim;
    	line-height: 40px;
    }

   	nav.access ul  {  
    	line-height: 2.2;
    }

    nav.access .menu--main,
    nav.access .menu--user {
    	float: none;
    }

    nav.access .menu--main {
    	padding-bottom: 50px;
    }
    nav.access .menu--user li,
    nav.access .menu--main li {
    	float: none;
    	text-align: center;
    	display: block;
    	margin: 0px;
    	display: block;

    }
    nav.access .menu--main a,
    nav.access .menu--user a  {
    	margin: 0px;
    }

}