nav {
	text-transform: uppercase;
	font-family: $fonte-principal-bold;
	background-color: #1C7033;
    
    &.opened {
	    max-height: 9999px;
	}
	
	ul {
		font-size: 1.5rem;
		line-height: 2.4;
		margin: 0;
		
		& > li {
		    margin: 0;
		    text-align: right;
		}
		
		a {
		    position: relative;
		    display: block;
		    
		}
		
		.current-cat,
		.current_page_item,
		.current-menu-item {
			& > a:after {
			    content: " ";
			
			    border-bottom: 4px solid $cor-laranja;
			    width: 100%;
			
			    display: block;
			
			    position: absolute;
			    bottom: -4px;
			    left: 0px;
		    }
		}
		
		.menu-item-has-children {
		    position: relative;
		}
		
		.current_page_item,
		.current-menu-ancestor {
		    position: static;
		}
	}
	
	.menu--main {
		&, & li {
			float: left;
			text-align: right;
		}
		
		a {
			margin-right: 1.3em;
			
			color: $cor-laranja;
			&:hover {
			    color: $cor-laranja-escuro;
			}
		}
	}
	.menu--user {
		&, & li {
			float: right;
			text-align: left;
		}
		
		a {
			margin-left: 1.3em;
			
			color: $cor-cinza-claro;
			&:hover {
			    color: $cor-cinza-claro;
			}
		}
		.menu__title {
		    color: $cor-cinza-claro;
		}
	}
}

.menu {
	.current_page_item,
	.current-menu-ancestor {
		& > .sub-menu {
			position: static;
		    z-index: 8888;
		
		    background-color: #ededed;
		    box-shadow: none;
		    clip: inherit;
		    overflow: inherit;
		    height: inherit;
		    width: inherit;
		}
	}
}

@media screen and (min-width: 40em) {
    .menu-item:hover > .sub-menu {
        clip: inherit;
        overflow: inherit;
        height: inherit;
        width: inherit;
    }

    .menu {
	    .current_page_item > .sub-menu,
		.current-menu-ancestor > .sub-menu {
	        position: absolute;
	        top: 100%;
	        left: 0;
	        right: 0;
 	        border-bottom: 1px solid #ccc;
	        li {
		        float: left;
	        }
	    }
    }
}
