
section {
	float: right;
	width: 65.63%;
	
	&.content--full,
	&.content--sidebarless {
		float: none;
		width: 100%;
	}

	article {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		
		padding: 20px 0 0;
		
		&:first-child {
			padding: 0px;
		}

		@include separation-border ();
		
		@include clearfix ();
		
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none !important;
		}
		
		&.has-post-thumbnail {
			header {
				margin-right: 170px;
			}
		}
		
		header {
 			@include clearfix ();
			
			margin-bottom: 10px;
		
			h2 {
				a {
					font-size: 32px;
				}
                max-width: 70%;
			}
			span.entry-date {
				font-size: 14px;
			}
		}
		
		.featured-media {
			margin-top: -30px;
			float: right;
			margin-left: 20px;
		}
		
		position: relative;
		
		p {
			margin-bottom: 5px;
			
			&.read-more {
				margin-bottom: 10px;
			}
		}
	}
}
