





section {
	float: right;
	width: 65.63%;
	
	&.content--full,
	&.content--sidebarless {
		float: none;
		width: 100%;
	}

	.section-description {
		color: $cor-verde;
	 	border: 1px solid #EDE9E9;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 30px;
		p {
			margin: 3px 0px;
			line-height: 1.5;
		}
	}

	article {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		
		padding: 20px 0 0;
		
		&:first-child {
			padding: 0px;
		}

		@include separation-border ();
		
		@include clearfix ();
		
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none !important;
		}
		
		&.has-post-thumbnail {
			header {
				margin-right: 170px;
			}
		}
		
		header {
 			@include clearfix ();
			
			margin-bottom: 10px;
		
			h2 {
				a {
					font-size: 32px;
				}
                // max-width: 70%;
			}
			span.entry-date {
				font-size: 14px;
			}

		}
		
		.featured-media {
			margin-top: -30px;
			float: right;
			margin-left: 20px;
		}
		
		position: relative;
		
		p {
			margin-bottom: 5px;
			
			&.read-more {
				margin-bottom: 10px;
			}
		}
	}


	.quote {
	    padding: 1.5rem 0;

		& > p {
		    text-transform: uppercase;
		}
	}

	.page__title {
	    margin-bottom: 1.5rem;
	}

	.hentry {
	    margin-bottom: 1.5rem;
	    padding-bottom: 1.5rem;

	    /*border-bottom: 1px dotted #888;*/
	}

	.hentry:last-child,
	.single .hentry {
	    border-bottom: none;
	}

	.entry-title {
	    font-size: 1.5rem;
	    font-size: 35px;	    
	    line-height: 1;
	    margin-bottom: 1.5rem;
	    
	    a {
		    display: inline-block;
		    color: #52660b;
		}
	}
	
	.entry-title a:hover,
	.single .entry-title a {
	    color: #444;
	}

	.entry-date {
	    font-size: .88rem;
	    line-height: 1.71;

	    /*color: #888;*/
	    color: #b49e49;
	}

	.entry-format {
	    font-size: .88rem;
	    line-height: 1.71;

	    display: inline-block;

	    padding: 0 .5em;

	    color: #fff !important;
	    background-color: #125b26;
	}

	.entry__summary {
	    margin-bottom: 1.5rem;
	}

	.entry__image {
	    overflow: hidden;

	    width: 998px;
	    margin: 1.5rem 0 1.5rem -150px;
	    
		.entry__image img {
		    display: block;
		}
	}

	.entry__meta {
	    font-size: .88rem;
	    line-height: 1.75;

	    margin-bottom: 1.5rem;
	    
	    a {
		    color: #fff;
		}
	}

	.entry__info {
	    color: #fff;
	    background: #125b26;
	}

}
.tax-setorial .entry-title,
.page-template .entry-title {
		text-align:center;
		color:$cor_verde;		
		}   
		
.home .entry-title {
		text-align:left;
		
		
		}   		

.subtitle {
	    text-align:center;
		color:$cor_verde;
		margin-bottom: 1.5rem;
		font-size: 25px;
		} 		

   
	
		
@media only screen and (min-width: 48em) {
    .quote {
        display: block;
    }
}


@media only screen and (max-width: 40em) {
    section {
	    width: 100%;
	}
}

.pagination {	
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	div {
		margin: 0 10% ;
		width: 80%;
		text-align: center;

		span, a {
			color:	#898989;
			padding: 5px 10px;
			margin: 0px 10px;
			font-size: 20px;
			border-radius: 8px;
		}
		span {
			background-color: #fed626;
		}
	}

}