.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 40em) {
    .site-wrap {
        overflow: visible;

        margin: 0px auto;
    }

    .feature__info {
        top: 50%;

        margin: -1.5rem 72px 0 0;
    }

    .box {
        float: left;

        width: 33%;
    }

    .box--news {
        width: 34%;
        margin-top: -1.5rem;
    }
}
